In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Business Understanding

In [27]:
df_products = pd.read_csv('products.csv')

df_products.head()

,id,title,group,salesrank,review_cnt,downloads,rating
0,1,Patterns of Preaching: A Sermon Sampler,Book,396585.0,2,2,5.0
1,2,Candlemas: Feast of Flames,Book,168596.0,12,12,4.5
2,3,World War II Allied Fighter Planes Trading Cards,Book,1270652.0,1,1,5.0
3,4,Life Application Bible Commentary: 1 and 2 Tim...,Book,631289.0,1,1,4.0
4,5,Prayers That Avail Much for Business: Executive,Book,455160.0,0,0,0.0

In [28]:
df_copurchase = pd.read_csv('copurchase.csv')

df_copurchase.head()

   Source  Target
0       1       2
1       1       4
2       1       5
3       1      15
4       2      11

#### Check Duplicate value for products.csv

In [29]:
print("Total data duplikat adalah: " + str(df_products.duplicated().sum()) + " Data")

Total data duplikat adalah: 0 Data

#### Check Missing value for products.csv

In [30]:
df_products.isnull().sum()

id            0
title         0
group         0
salesrank     0
review_cnt    0
downloads     0
rating        0
dtype: int64

#### Check Missing value for copurchase.csv

In [31]:
df_copurchase.isnull().sum()

Source    0
Target    0
dtype: int64